<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- here absolute path is with reference to public folder... public/css/styles.css -->
</head>
<body>

{{>header}}
<h2>This site is a basic site to get weather info</h2>

{{> footer}}
</body>
</html>