<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- here absolute path is with reference to public folder... public/css/styles.css -->
</head>
<body>

{{>header}}

<h2>Please read below for using the site</h2>
<p>{{message}}</p>

{{> footer}}
</body>
</html>